@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    margin-left: 30px;
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nava:hover {
    background-color: #1c2b75;
}

a:hover{
    color: white;
}



.deroule{
    position: absolute;
    color: white;
    display: none;
    top: 50px;;
}

#menu:hover .deroule{
    display: flex;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

nav{
    background-color: transparent;
    display: flex;
    height: 70px;
}

#navul{
    display: flex;
    height: 100%;
    align-items: center;
}

.logo{
    width: 40px;
    height: 40px;
}

h1{
    margin: 20px;
    font-family: 'Zen Tokyo Zoo', cursive;
    color: white;
    font-size: 80px;
}

#logo{
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 65%
}

body{
    background-image: url(../imges/back.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #010f3f;
    height: 100vh;
    color: white;
}


